<?xml version="1.0" encoding="utf-8"?>
<phpunit
    bootstrap="./tests/bootstrap.php"
    colors="true"
    backupGlobals="false"
    backupStaticAttributes="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    beStrictAboutTestsThatDoNotTestAnything="false"
    beStrictAboutCoversAnnotation="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestSize="true">

    <testsuites>
        <testsuite name="Biscuit Unit Test Suite">
            <directory suffix="Test.php">./tests/unit/</directory>
        </testsuite>
    </testsuites>

</phpunit>