<phpunit
   bootstrap="vendor/autoload.php"
   convertErrorsToExceptions="true"
   convertNoticesToExceptions="true"
   convertWarningsToExceptions="true"
   backupGlobals="true"
   colors="true">

   <php>
        <ini name="error_reporting" value="-1" />
        <ini name="intl.default_locale" value="en" />
        <ini name="intl.error_level" value="0" />
        <ini name="date.timezone" value="UTC" />
        <ini name="memory_limit" value="-1" />
    </php>

   <testsuites>

      <testsuite name="Runtime Tests">
         <directory>tests/Runtime</directory>
      </testsuite>

      <testsuite name="Dispatch Tests">
         <directory>tests/Dispatch</directory>
      </testsuite>

      <testsuite name="Session Tests">
         <directory>tests/Session</directory>
      </testsuite>

      <testsuite name="Storage Tests">
         <directory>tests/Storage</directory>
      </testsuite>

      <testsuite name="Utils Tests">
         <directory>tests/Utils</directory>
      </testsuite>

      <testsuite name="Temp Tests">
         <directory>tests/Temp</directory>
      </testsuite>

   </testsuites>

</phpunit>